<h1>S'inscrire</h1>
<form>
    <label for="pseudo">Pseudo</label>
    <input type="text" name="pseudo" [(ngModel)]="pseudo">
    <label for="email">Email</label>
    <input type="text" name="email" [(ngModel)]="email">
    <label for="mdp">Mot de passe</label>
    <input type="mdp" name="mdp" [(ngModel)]="mdp">
    <button type="submit" (click)="addUser(pseudo, email, mdp)">Valider</button>
</form>

<li *ngFor="let item of tableau; index as clef">

    {{item.email}} {{item.pseudo}}
    <button>Supprimer</button>
</li>